nav {
  background-color: #4d4848;
  color: #d7bdbd;
  padding: 10px;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
  margin: 0;
  padding: 0;
}
header,
footer{
  background-color: #322d2d;
  color: #0a0a0a;
  padding: 10px;
  padding: 0.5px;
  margin-left: 2px;
  margin-right: 2px;
}
aside {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 0;
  margin-left: 20px;
  
  
}
p{
  color: black;
}
main {
  background-color: #c1bdc2;
  display: inline-block;
  width: 75%;
  margin-left: 5px;
  margin: 2px;
}
aside {
  background-color: #c1bdc2;
  padding-left: 30px;
  margin-left: 2.5px;
  margin-right: 0px;
}

section {
  background-color: #0f0f0f;
  color: antiquewhite;
  padding: 10px;
  p{
    color: white;
  }
}
.sec-two{
  background-color: rgb(19, 19, 87);
}

ul li{
  padding-top: 15 px;
  margin: 10px;
  height: 20px;
}


.menu-item-aside{
  padding: 6px;
}

.menu-as{
  padding: 6px;
}

@media only screen and (max-width: 600px) {
  main,
  aside {
    display: block;
    width: 100%;
  }
}
